/* contact.css */

/* Container styles */
.contact-container {
    text-align: center;
    padding: 40px;
  }
  
  /* Description */
  .contact-description {
    margin-bottom: 20px;
  }
  
  /* Contact icons */
  .contact-icons a {
    font-size: 24px;
    margin-right: 15px;
    color: #333;
    transition: color 0.3s ease;
  }
  
  .contact-icons a:hover {
    color: #007bff; /* Change color on hover */
  }

  .contact-icons a span{
    margin-left: 8px;
  }
  
  /* Get in touch */
  .contact-get-in-touch {
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  /* Form styles */
  .contact-form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
  }
  
  .contact-form input,
  .contact-form textarea,
  .contact-form button {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
  }
  
  .contact-form button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .contact-form button:hover {
    background-color: #0056b3;
    
  }
  
  /* Adjust form input/textarea styles as needed */
  
  /* Media queries for responsiveness */
@media screen and (max-width: 768px) {
    .contact-container {
      padding: 20px;
    }
  
    .contact-icons a {
      font-size: 20px;
      margin-right: 10px;
    }
  }
  @media screen and (max-width: 576px) {
    .contact-form input,
    .contact-form textarea,
    .contact-form button {
      padding: 8px;
      font-size: 14px;
    }
  }
  