/* about.css */

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  margin-top: 20px;
}

.about-image img {
  width: 500px; /* Adjust the image width */
  height: 500px; /* Adjust the image height */
  /* border-radius: 50%; Makes the image circular */
  /* box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); Adds a subtle shadow */
  transition: transform 0.3s ease; /* Adds a transition effect */
  margin-right: 10px;
}

.about-image img:hover {
  transform: scale(1.1); /* Scales the image on hover */
}

.about-description {
  padding: 0 40px; /* Adjust spacing */
  max-width: 600px; /* Limit the width of the description */
  text-align: center; /* Centers the text */
}

.about-description h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.about-description p {
  font-size: 1.2em;
  line-height: 1.6;
  color: #f1eded; /* Adjust the color */
  font-weight: 300; /* Adjust the font weight */
}

/* Animation effects */
.about-description p {
  animation: fadeInUp 1s ease-in-out;
}

/* Hide image on small screens */
@media only screen and (max-width: 768px) {
  .about-image img {
    display: none;
  }
}

/* Media queries for smaller screens */
@media only screen and (max-width: 768px) {
  .about-description {
    font-size: 1rem; /* Adjust font size for smaller screens */
  }
}

/* Media queries for even smaller screens, like mobile phones */
@media only screen and (max-width: 480px) {
  .about-description {
    font-size: 0.9rem; /* Further adjust font size for smaller screens */
  }
}