/* services.css */

.services-container {
  text-align: center;
  padding: 40px;
  margin: 20px;
}

.section-title {
  font-size: 2em;
  margin-bottom: 20px;
}

.cards-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.service-card {
  border: 1px solid #081943;
  padding: 20px;
  border-radius: 8px;
  flex-basis: calc(33.33% - 20px); /* Set a flexible basis for each card to create a multi-column layout */
  background-color: rgba(0, 123, 255, 0.2);

}

.chips-container {
  display: flex;
  flex-wrap: wrap; /* Enable wrapping for the chips */
  gap: 10px;
}

.chip {
  background-color: rgba(0, 123, 255, 0.2);
  color: #007bff;
  padding: 5px 10px;
  border-radius: 20px;
}

/* Media query for smaller screens */
@media only screen and (max-width: 768px) {
  .cards-container {
    flex-direction: column; /* Change the direction to column for smaller screens */
  }

  .service-card {
    flex-basis: 100%; /* Each card takes full width on smaller screens */
  }
}